<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
    <div class="jr_login_wrapper">
      <div class="jr_ferry">
        <img src="assets/img/landing_logo.png">
      </div>
      <div class="jr_login_detail">
        <h5>Are you</h5>
        <h4>ready to begin ?</h4>
        <p>Share your car journey with co- travellers just<br> like you and cover all your fuel costs!</p>
        <hr>
        <form [formGroup]="loginForm" (submit)="login()" novalidate>

          <ion-item class="jr_login_input1">
            <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty">
            <p>Please write a valid email.</p>
          </ion-item>

          <ion-item class="jr_login_input1">
            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty">
            <p>Your password needs more than 6 characters.</p>
          </ion-item>
          <button ion-button block type="submit" [disabled]="!loginForm.valid" class="jr_offer_ride3">LOGIN</button>
        </form>
        <br>
        <p (click)="password()"><i>Forgot Password</i></p>
        <br>
        <h4 (click)="register()"> <i>Register</i> </h4>
        <br>
        <h5>OR</h5>
        <button ion-button full block (click)="loginWithFacebook()">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          Login with Facebook
        </button>

        <button ion-button block color="danger" (click)="loginWithGoogle()">
          <ion-icon ios="logo-google" md="logo-google"></ion-icon>
          Login with Google
        </button>
        <hr>

      </div>

    </div>
  </div>
</ion-content>