<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
    <div class="jr_login_wrapper">
      <div class="jr_logo">
        <img src="../../assets/img/jr_logo1.png">
      </div>
      <div class="jr_login_detail">
        <h5>Are you</h5>
        <h4>ready to begin ?</h4>
        <p>Share your car journey with co- travellers just<br> like you and cover all your fuel costs!</p>
        <hr>
        <form [formGroup]="loginForm" (submit)="login()" novalidate>

          <ion-item class="jr_login_input1">
            <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty">
            <p>Please write a valid email.</p>
          </ion-item>

          <ion-item class="jr_login_input1">
            <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty">
            <p>Your password needs more than 6 characters.</p>
          </ion-item>
          <button ion-button block type="submit" [disabled]="!loginForm.valid" class="jr_offer_ride3">LOGIN</button>
        </form>
        <!-- <input class="jr_login_input" placeholder="Username">
        <input class="jr_login_input" placeholder="Password">
        <button ion-button class="jr_offer_ride2" (click)="home()">LOGIN</button> -->

        <p (click)="password()"><i>Forgot Password ?</i></p>
        <h5>OR</h5>
        <button ion-button full block (click)="facebookLogin()">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          Login with Facebook
        </button>

        <button ion-button block color="danger" (click)="loginUser()">
          <ion-icon ios="logo-google" md="logo-google"></ion-icon>
          Login with Google
        </button>
      </div>
      <div class="jr_landing_btm">
        <button ion-button class="jr_btm_btn1" (click)="goBack()">
          <img src="assets/img/jr_arrow1.png">
        </button>
      </div>
    </div>
  </div>
</ion-content>