page-tabs {
    .button-tab{
        background: #17B0BA !important;
        color:  #17B0BA !important;
        background-color: brown
    }

    .tabbar {
        background-color: #387ef5;
    }
}
