<ion-content>
  <div class="jr_pick_drop">
    <div class="jr_pick_drop_detail" style="height:100%;">
      <div class="jr_up_arw" (click)="dismiss()">
        <img src="assets/img/jr_arw_down.png">
      </div>
      <h5>Pickup Location</h5>
      <hr>
      <ul>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Majestic</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Kormangala</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Madiwala</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Satelite Junction</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Blue mont mall</p>
          <div class="jr_clear"></div>
        </li>
        <li>
          <div class="jr_loc_no1"><ion-radio ng-model="choice1" ng-value="'A'" class="jr_radio_id"></ion-radio></div>
          <p>Infosys Junction</p>
          <div class="jr_clear"></div>
        </li>
        <hr>
        <button ion-button class="jr_offer_ride2" (click)="dismiss()">Confirm Location</button>
      </ul>
    </div>
  </div>
</ion-content>
