<ion-content class="jr_login_bg">
  <div class="jr_profile_content">
    <div class="jr_login_detail">
      <h5>Your</h5>
      <h4>journey starts here !</h4>
      <p>Share your car journey with co- travellers just
        <br> like you and cover all your fuel costs!</p>
      <hr>
      <form [formGroup]="signupForm" (submit)="signup()" novalidate>
          <ion-item class="jr_login_input1">
              <ion-input formControlName="displayName" type="text" placeholder="Display Name"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!signupForm.controls.displayName.valid &&
            signupForm.controls.displayName.dirty">
              <p>Please select another.</p>
            </ion-item>
        <ion-item class="jr_login_input1">
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid &&
        signupForm.controls.email.dirty">
          <p>Please write a valid email.</p>
        </ion-item>

        <ion-item class="jr_login_input1">
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid &&
        signupForm.controls.password.dirty">
          <p>Your password needs more than 6 characters.</p>
        </ion-item>
        <button ion-button block type="submit" [disabled]="!signupForm.valid" class="jr_offer_ride3">SIGNUP</button>
      </form>
      <hr>
      <h5>OR</h5>
      <button ion-button full block (click)=" signUpWithFacebook()">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        Signup with Facebook
      </button>
    

      <button ion-button block color="danger" (click)="signUpWithGoogle2()">
          <ion-icon ios="logo-google" md="logo-google"></ion-icon>
          Signup with Google
        </button>
      
    </div>
    <!--     <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && blur">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid
        && signupForm.controls.email.touched">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && blur">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  &&
        signupForm.controls.password.touched">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <button ion-button block type="submit" [disabled]="!signupForm.valid">
        Create an Account
      </button>
    </form> -->

    <div class="jr_landing_btm">
      <button ion-button class="jr_btm_btn2" (click)="goBack()">
        <img src="assets/img/jr_arrow1.png">
      </button>
    </div>
  </div>

</ion-content>
<ion-footer>

</ion-footer>